@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}


.content p{
    font-size: 20px;
    opacity: 0.6;
    margin-bottom: 1rem;
}
.content h3, .content h4 {
    font-weight: 700;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 1rem;
}
.content li{
    font-size: 20px;
    opacity: 0.6;
}